#back-button {
    position:absolute;

    top:90px;

    width:100px;
    height:40px;
    left:10px;

    border-radius:100px;

    z-index:1001;

    background-color:rgb(42, 117, 86);
    color:white;

    cursor:pointer;

    transition: background-color .3s, color .3s;
}

#back-button:hover {
    background-color: rgb(58, 228, 100);
    color:black;
}

#back-text {
    position:relative;
    top:-9px;
    font-size:20px;
}