#find-top-ten-button {
    position:relative;

    top:-360px;
    left:10px;

    width:300px;
    height:40px;

    z-index:1001;

    border:1px solid black;
    color:black;

    cursor:pointer;

    transition: background-color .3s, color .3s, border .3s, box-shadow .3s;
}

#find-top-ten-button:hover {
    background-color: rgb(58, 228, 100);
    border:1px solid rgb(58, 228, 100);
    color:black;

    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}

#find-top-ten-text {
    position:relative;
    top:-8px;
    font-size:20px;
}

@media only screen and (max-width: 480px) {
    #find-top-ten-button {
        position:relative;
    
        top:100px;
    
        width:30%;
        height:40px;
        left:35%;
    
        z-index:1001;
    
        background-color:rgb(42, 117, 86);
        color:white;
    
        cursor:pointer;
    
        transition: background-color .3s, color .3s;
    }
}